/*
Trabajo practico 4 "Creacion de tu sitio propio"

Finalidad de sitio: "MMORPG" 

Orientado: League Of Legends


Agustin Saravia

*/


/* slider main*/

#slider{
    background:#161616;
}

.slider_background_video_animation video{
    width: 100%;
    height: 100%;
    opacity: 0.80;
    position: relative;
    top:10px
}



.slider_contents_row{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.slider_contents_row img{
    width: 600px;
    height: 250px;
}

.slider_contents_row h1{
    color: #fff;
    font-size: 70px;
    font-family: "Rubik","Gill Sans", "Gill Sans MT", "Calibri","sans-serif";
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    border: 4px solid #fff;
    -webkit-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    transform: skew(-15deg);
    
}

.slider_contents_row span{
    color: #f70000;
}

.slider_contents_row .btn-light{
    margin-top: 30px;
}

/* Slider_mobile */

#slider_mobile{
    background: url(img/background.jpg) no-repeat #181818;
    background-position: cover;
    display: none;

}

.slider_mobile_contend_column{
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: #f70000;
}

.slider_mobile_contend_column h1{
    margin-bottom: 30px;
    margin-left: 30px;

 
}

.slider_mobile_contend_column p{
    margin-bottom: 30px;
    margin-left: 30px;
}
/* end slider main*/


/*first section*/

.firstsection_row{
    display: flex;
    flex-direction: row;
    background: url(img/background4.jpg);
    background-position: cover;
}

.firstsection_row img{
    display: inline-block;
    margin-top: 5px;
    width: 800px;
    height: 600px;
    margin-right: 40px;
    position: relative;
    bottom: 1cm;
    left: 1cm;
}

.column_one_section_first{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-left: 30px;
}

.column_one_section_first h1,h2,h3{
    margin-left: 30px;
}

.column_one_section_first p{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.column_one_section_first .btn{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 30px;
}

/*second section*/

.second_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(img/background2.jpg);
    background-position: cover;
    padding-top: 30px;
}

#second_section_row{
    display: flex;
    flex-direction: row;
}

#second_section_row iframe{
    width: 600px;
    height: 400px;
}

/*second section column one*/

.second_section_row_contents_columns_one{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 25px;
}

.second_section_row_contents_columns_one h2{
    padding-bottom: 30px;
}

.second_section_row_contents_columns_one p{
    margin-left: 30px;
}

.second_section_row_contents_columns_one .btn-light{
    margin-top: 30px;
    margin-bottom: 30px;
}


/*second section column two*/
.second_section_row_contents_columns_two{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* third section */

#third_section_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
}

#third_section_main h1{
    margin-left: 30px;
}

#third_section_main .btn{
    margin-bottom: 30px;
}
#third_section{
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.third_section_one{
    width: 400px;
    height: 300px;
    background-image: url(img/img1a.jpg);
    -webkit-transform: skew(-7deg);
    -ms-transform: skew(-7deg);
    transform: skew(-7deg);
    margin-right: 10px;
    margin-left: 10px;

}

.third_section_one:hover{
    background: url(img/img1.jpg);
    transition: 0.5s;
}

.third_section_two{
    width: 400px;
    height: 300px;
    background:url(img/img2.jpg);
    -webkit-transform: skew(-7deg);
    -ms-transform: skew(-7deg);
    transform: skew(-7deg);
    margin-right: 10px;
    margin-left: 10px;

}

.third_section_two:hover{
    background: url(img/img2a.jpg);
    transition: 0.5s;

}

.third_section_tree{
    width: 400px;
    height: 300px;
    background: url(img/img3a.jpg);
    -webkit-transform: skew(-7deg);
    -ms-transform: skew(-7deg);
    transform: skew(-7deg);
    margin-right: 10px;
    margin-left: 10px;

}
.third_section_tree:hover{
    background: url(img/img3.jpg);
    transition: 0.5s;
}

/*fourth_section*/
.fourth_section{
    background: url(img/background3.jpg);
    padding-top: 15px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fourth_section h2{
    color: #fff;
}
